name: Build package

on: [push]

jobs:
  build:

    name: Test build for ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-20.04
          - ubuntu-22.04
          - ubuntu-24.04
          - ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive
    - name: Install dependencies
      run: sudo env DEBIAN_FRONTEND=noninteractive apt-get install -y --no-install-recommends build-essential devscripts equivs
    - name: Install deb dependencies
      run: mk-build-deps && sudo env DEBIAN_FRONTEND=noninteractive apt install -y --no-install-recommends ./facetimehd-dkms-build-deps*deb && git clean -xfd
    - name: Build
      run: dpkg-buildpackage -us -uc

    - name: Test install
      run: |
        sudo env DEBIAN_FRONTEND=noninteractive apt install ../facetimehd-dkms_*.deb
        find /var/lib/dkms/facetimehd/ -name make.log -exec cat {} \; || true
        dpkg -L facetimehd-dkms

    - name: Check install
      run: |
        modinfo facetimehd
        grep bdc_pci /usr/lib/modprobe.d/blacklist-facetimehd-dkms.conf

  test:
    name: Test build for ${{ matrix.os }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os:
          - 25.04
    container:
      image: ghcr.io/whitty/gh_ubuntu_${{ matrix.os }}:feature-github_actions

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Install dependencies
      run: apt update && env DEBIAN_FRONTEND=noninteractive apt-get install -y --no-install-recommends build-essential devscripts equivs
    - name: Install deb dependencies
      run: |
        mk-build-deps
        apt update && env DEBIAN_FRONTEND=noninteractive apt install -y --no-install-recommends ./facetimehd-dkms-build-deps*deb
        git config --global --add safe.directory "${GITHUB_WORKSPACE}" && git clean -xfd

    - name: Build
      run: dpkg-buildpackage -us -uc
    - name: Test install
      run: |
        env DEBIAN_FRONTEND=noninteractive apt install -y ../facetimehd-dkms_*.deb
        find /var/lib/dkms/facetimehd/ -name make.log -exec cat {} \; || true
        dpkg -L facetimehd-dkms

    - name: Check install
      run: |
        # Can't use native modinfo due to underlying OS not matching container OS
        ver=$(echo /lib/modules/*/updates/dkms | sort -nr | head -n 1 | sed -e 's:/lib/modules/::' -e 's:/updates/dkms.*::')
        ls -la /lib/modules/${ver}/updates/dkms || true
        ls /lib/modules/${ver}/updates/dkms/facetimehd.ko || true
        modinfo -k ${ver} facetimehd
        ls -latr /usr/lib/modprobe.d/
        grep bdc_pci /usr/lib/modprobe.d/blacklist-facetimehd-dkms.conf
